{% extends "base.html" %}
<!-- Title-->
{% block title %} {{Class.class_name}} {% endblock %}

<!--body-->
{% block content_before_login %}
    <center><h3>Sorry! You are not in account<br />Please <a href="/login/">log in </a> or <a href="register"> create new account </a>to use this page .</h3></center>
{% endblock %}

{% block content_after_login %}
<!-- Forms
================================================== -->
<section id="forms">
    <div class="page-header">
    	<font color="#66CC99"><h1>{{Class.class_name}}</h1></font>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <font color="#0033FF"><h2>Information</h2></font>
                <form class = "well form-horizontal" action = "." method = "post" align = "left"> {% csrf_token %}
                    <table class="table table-condensed " >
                        <tr>
                            <td width="106">Teacher's Name</td>
                            <td width="10">:</td>
                            <td width="171">{{Class.teacher_name}}</td>
                        </tr>
                        <tr>
                            <td>No. Students</td>
                            <td>:</td>
                            <td>{{Class.number_students}} Students</td>
                        </tr>
                        <tr>
                            <td>Account of Teacher</td>
                            <td>:</td>
                            <td><a href="/member/{{Class.user.id}}-{{Class.user.username}}/">{{Class.user.username}}</a></td>
                        </tr>
                    </table>
					
                    {% if User = Class.user %}
                    
                    	<center>
                        <a href="/edit_class/{{Class.id}}/" class="btn btn-info" align="right"><i class = "icon icon-repeat"></i> Change information</a><br /><br />
                        <select name="add_students">
                        	<option value="">---User to adding---</option>
                        	{% for User in list_user %}
                                <option value="{{User.id}}">{{User.username}}</option>
                            {% endfor %}
                        </select> 
                        &nbsp;
                        <button type="submit" class="btn btn-success"><i class="icon icon-plus"></i> Add</button>
                        </center>
                        
                    {% else %}
                    	{% if User in list_students %}
							<center>
								<button type="submit" name="students_delete" class="btn btn-danger" value="{{User.username}}"}><i class="icon icon-share"></i> Out class</button>
							</center>
                    	{% endif %}
                    {% endif %}
					
                </form>
				
			
            {% if User = Class.user %}
            
            	<font color="#0033FF"><h2>Students Manage</h2></font>
                <form class = "well form-horizontal" action = "." method = "post" align = "left"> {% csrf_token %}
				
                	{% if length != 0 %}
                    
                        <table class="table table-condensed " >
                            <thead>
                                <tr>
                                    <th width="100">Students</th>
                                    <th width="15">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            {% for User in list_students %}
                            <tr>
                                <td><a href="/member/{{User.id}}-{{User.username}}/">{{User.username}}</a></td>
                                <td align="right"><input type="checkbox" name="students_delete" value="{{User.username}}" /></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <center><button type="submit" class="btn btn-success">Submit</button></center>
                    {% else %}
                    	<center><font color="#FF0000">Class has not students</font></center>
                    {% endif %}
					
                </form>
                
            {% else %}
            	<font color="#0033FF"><h2>Students</h2></font>
                <form class = "well form-horizontal" action = "." method = "post" align = "left"> {% csrf_token %}
				
                	{% if length != 0 %}
                    
                        <table class="table table-condensed " >
                            <thead>
                                <tr>
                                    <th width="100">Students</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for User in list_students %}
                            <tr>
                                <td><a href="/member/{{User.id}}-{{User.username}}/">{{User.username}}</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    	<center><font color="#FF0000">Class has not students</font></center>
                    {% endif %}
                </form>
            {% endif %}
			
        </div>
        <div class="span8">
            <font color="#0033FF"><h2>Quizzes</h2></font>
                <form class = "well form-horizontal" action = "." method = "post" align = "center"> {% csrf_token %}
                    <table class="table table-striped table-bordered">
                        <tr class="focused">
                            <td>
                                <h4 align="center">Quizzes Title</h4>
                            </td>
                            <td>
                                <h4 align="center">Number of Questions</h4>
                            </td>
                            <td>
                                <h4 align="center">Time limited</h4>
                            </td>
                        </tr>
                        {% for Quizzes in Quizzes_list %}
                            <tr >
                                <td>
                                    <a href="/quizzes/{{Quizzes.id}}/">{{Quizzes.title}}</a>
                                </td>
                                <td>
                                    <center>{{Quizzes.number_questions}} questions </center>
                                </td>
                                <td>
                                    <center>{{Quizzes.time_limit}} minutes</center>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if User not in list_students and User != Class.user %}
                    	<center>
                        	<font color="#FF0000">You are not student of this class !Please send request to teacher if you want become a students of this class !</font>
                        </center>
                    {% endif %}
					
                    {% if User = Class.user %}
                        <br />
                        <center><a href="/create_quizz/{{Class.id}}/" class="btn btn-success" align="right"><i class = "icon icon-plus"></i> Create new Quizzes</a></center>
                    {% endif %}
                </form>
              <p>&nbsp;</p>
            </div>
        </div>
    </div>
{% endblock %}

