{% extends "base.html" %}
{% block title %} {{Classes_list.class_name}} {% endblock %}


{% block content %}
    <center><h3>Sorry! You are not in account<br />Please <a href="/login/">log in </a> or <a href="register"> create new account </a>to use this page .</h3></center>
{% endblock %}

{% block content_1 %}
<!-- Forms
================================================== -->
<section id="forms">
    <div class="page-header">
    	<font color="#66CC99"><h1>{{Classes_list.class_name}}</h1></font>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <font color="#0033FF"><h2>Information</h2></font>
                <form class = "well form-horizontal" action = "." method = "post" align = "left"> {% csrf_token %}
                    <table class="table table-condensed " >
                        <tr>
                            <td width="106">Teacher's Name</td>
                            <td width="10">:</td>
                            <td width="171">{{Classes_list.teacher_name}}</td>
                        </tr>
                        <tr>
                            <td>No. Students</td>
                            <td>:</td>
                            <td>{{Classes_list.number_students}} Students</td>
                        </tr>
                        <tr>
                            <td>Account of Teacher</td>
                            <td>:</td>
                            <td><a href="#">{{Classes_list.user.username}}</a></td>
                        </tr>
                    </table>
                    {% if User = Classes_list.user %}
                    	<center><a href="/edit_class/{{Classes_list.id}}/" class="btn btn-info" align="right"><i class = "icon icon-repeat"></i> Change information</a></center>
                    {% endif %}
                </form>
            </div>
            <div class="span8">
                <font color="#0033FF"><h2>Quizzes</h2></font>
                    <form class = "well form-horizontal" action = "." method = "post" align = "center"> {% csrf_token %}
                    	<table class="table table-striped table-bordered">
                       		<tr class="focused">
                                <td>
                                    <h4 align="center">Quizzes Title</h4>
                                </td>
                                <td>
                                    <h4 align="center">Number of Questions</h4>
                                </td>
                                <td>
                                    <h4 align="center">Time limited</h4>
                                </td>
                            </tr>
                    		{% for Quizzes in Quizzes_list %}
                            	<tr >
                                	<td>
                        				<a href="/quizzes/{{Quizzes.id}}/">{{Quizzes.Title}}</a>
                                    </td>
                                    <td>
                                    	<center>{{Quizzes.Number_questions}} questions </center>
                                    </td>
                                    <td>
                                    	<center>{{Quizzes.Time_limit}} minutes</center>
                                    </td>
                                </tr>
                        	{% endfor %}
                        </table>
                        
                        {% if User = Classes_list.user %}
                            <br />
                            <center><a href="/create_quizz/{{Classes_list.id}}/" class="btn btn-success" align="right"><i class = "icon icon-plus"></i> Create new Quizzes</a></center>
                        {% endif %}
                    </form>
              <p>&nbsp;</p>
            </div>
        </div>
    </div>
{% endblock %}

