{% extends "base.html" %}

<!--Title-->
{% block title %}{{Quizzes.title}}{% endblock %}

<!--body-->
{% block content_before_login %}
    <center><h3>Sorry! You are not in account<br />Please <a href="/login/">log in </a> or <a href="register"> create new account </a>to use this page .</h3></center>
{% endblock %}

{% block content_after_login %}

<!--Clock
================================================== -->
{% if Quizzes.number_questions != 0 %}
    <script language="JavaScript">
        function auto_sub(){
            alert("Time out! The system will auto submit result and calculate your result !");
            document.answer.submit();
        }
        function auto_sub1(){
            setTimeout("auto_sub()",{{Quizzes.time_limit}}*60000+2000);
        }
        auto_sub1();
    </script>
{% endif %}

<!--Form
==================================================-->
<section id="forms">
    <div class="page-header">
        <font color="#66CC99"><h1>{{Quizzes.title}}</h1></font>
    </div>
    
    {% if Quizzes.number_questions != 0 %}
    
    <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <font color="#0033FF"><h2>Information</h2></font>
                <form class = "well form-horizontal" action = "." method = "post" align = "left"> {% csrf_token %}
                    <table class="table table-condensed" >
                        <tr>
                            <td width="106"><h5>Start time</h5></td>
                            <td width="10">:</td>
                            <td width="171">
                                <script language="javascript">
                                <!-- 
                                today = new Date();
                                document.write(today.getHours()," : ",today.getMinutes()," on ", today.getDate()," / ",today.getMonth()+1);
                                //-->
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>Finish Time</h5></td>
                            <td>:</td>
                            <td>
                                <script language="javascript">
                                <!-- 
                                today = new Date();
                                minute1 = today.getMinutes()+ {{Quizzes.time_limit}};
                                minute = minute1 % 60;
                                hour1 = today.getHours() + ( minute1 - minute)/60;
                                hour = hour1 % 24;
                                date = today.getDate() + (hour1 - hour )/24;
                                document.write(hour," : ",minute ," on ",date," / ",today.getMonth()+1);
                                //-->
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>Time Remaining</h5>
                            </td>
                            <td>:</td>
                            <td>
                            <li class="lino"><font color="#FF0033" size="3"><span id="time1">10</span></font> <i>mins</i> <font color="#FF0033" size="3"><span id="time">10</span></font> <i>secs</i>
                            
                            <script type="text/javascript"> 
                                var jgt = 00;
                                var jgt2 = {{Quizzes.time_limit}};
                                document.getElementById('time').innerHTML = jgt;
                                document.getElementById('time1').innerHTML = jgt2;
                                function stime(){
                                    document.getElementById('time').innerHTML = jgt;
                                    document.getElementById('time1').innerHTML = jgt2;
                                    jgt = jgt - 1;
                                    if(jgt == -1){
                                        jgt = 59;
                                        jgt2 = jgt2 - 1;
                                    }
                                    if(jgt == 0 && jgt2 ==0){
                                        clearInterval(timing);
                                    }
                                }
                                var timing = setInterval("stime();",1000);
                            </script>
                            
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            
            {% if User != Quizzes.in_class.user %}
            
            <div class="span8">
                <font color="#0033FF"><h2>Quizzes</h2></font>
                    <form class = "well form-horizontal" action = "." method = "post" name="answer" align = "left"> {% csrf_token %}
                        {% for Questions in questions_list %}
                            <h5><em>Question</em> : {{Questions.ques}}</h5><br />
                            <label class="radio">
                                <input type="radio" name="Answer{{Questions.id}}" id="Answer1" value="1"><font color="#6633CC">A.</font> {{Questions.ans1}}
                            </label>
                            <label class="radio">
                                <input type="radio" name="Answer{{Questions.id}}" id="Answer2" value="2"><font color="#6633CC">B.</font> {{Questions.ans2}}
                            </label>
                            <label class="radio">
                                <input type="radio" name="Answer{{Questions.id}}" id="Answer3" value="3"><font color="#6633CC">C.</font> {{Questions.ans3}}
                            </label>
                            <label class="radio">
                                <input type="radio" name="Answer{{Questions.id}}" id="Answer4" value="4"><font color="#6633CC">D.</font> {{Questions.ans4}}
                            </label>
                            <br />
                        {% endfor %}
                        <button type="submit" class="btn btn-success" >Submit</button>
                    </form>
              <p>&nbsp;</p>
            </div>
            
            {% endif %}
            
        </div>
    </div>
    
    {% else %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <font color="#FF0000"><h2>Sorry</h2></font>
                    <form class = "well form-horizontal" action = "." method = "post" align = "left"> {% csrf_token %}
                        <center>
                            <img src="/static/images/ban.gif" alt="--Sorry--" width="192" height="192"  />
                            <br /><br /><br /><font size="3" color="#FF0000"><b>Sorry! This Quizz don't have any questions to you can do !<br />
                            Please visit page after teacher of this class update questions! Thanks you.</b></font>
                        </center>
                    </form>
                </div>
            </div>
         </div>
    {% endif %}
    
{% endblock %}

