{% extends "base.html" %}
{% block title %}Search page{% endblock %}

{% block content_after_login %}
	{% if show_result %}
		<h2>Result for searching keyword "<i>{{query}}</i>"</h2>
		<br />
		<div class="tabbable" style="margin-bottom: 18px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab"><b>User</b> ( {{user_search.count}} results)</a></li>
				<li><a href="#tab2" data-toggle="tab"><b>Class</b> ( {{class_search.count}} results)</a></li>
				<li><a href="#tab3" data-toggle="tab"><b>Quizz</b> ( {{quizz_search.count}} results)</a></li>
			</ul>
			<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
				<div class="tab-pane active" id="tab1">
					{% if user_search.count = 0 %}
						<font color="#FF3300"><em>No result</em></font>
					{% else %}
                    	<table class="table">
                            {% for User in user_search %}
                            <tr>
                                <td><strong><a href="/member/{{User.id}}-{{User.username}}/">{{User.username}}</a></strong></td>
                            </tr>
                            {% endfor %}
                        </table>
					{% endif %}
					<br /><br />
				</div>
				<div class="tab-pane" id="tab2">
					{% if class_search.count = 0 %}
						<font color="#FF3300"><em>No result</em></font>
					{% else %}
                    	<table class="table">
                            {% for Class in class_search %}
                            <tr>
                                <td><strong><a href="/class/{{Class.id}}/">{{Class.class_name}}</a></strong></td>
                            </tr>
                            {% endfor %}
                        </table>
					{% endif %}
					<br /><br />
				</div>
				<div class="tab-pane" id="tab3">
					{% if quizz_search.count = 0 %}
						<font color="#FF3300"><em>No result</em></font>
					{% else %}
                    	<table class="table">
                            {% for Quizz in quizz_search %}
                            <tr>
                                <td><strong><a href="/quizzes/{{Quizz.id}}/">{{Quizz.title}}</a></strong></td>
                            </tr>
                            {% endfor %}
                        </table>
					{% endif %}
					<br /><br />
				</div>
			</div>
		</div>
	{% else %}
		<h2>Please enter keyword to searching</h2>
		<br />
		<br />
	{% endif %}
	
{% endblock %}

{% block content_before_login %}
	{% if show_result %}
		<h2>Result for searching keyword "<i>{{query}}</i>"</h2>
		<br />
		<div class="tabbable" style="margin-bottom: 18px;">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab"><b>User</b> ( {{user_search.count}} results)</a></li>
				<li><a href="#tab2" data-toggle="tab"><b>Class</b> ( {{class_search.count}} results)</a></li>
				<li><a href="#tab3" data-toggle="tab"><b>Quizz</b> ( {{quizz_search.count}} results)</a></li>
			</ul>
			<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
				<div class="tab-pane active" id="tab1">
					{% if user_search.count = 0 %}
						<font color="#FF3300"><em>No result</em></font>
					{% else %}
                    	<table class="table">
                            {% for User in user_search %}
                            <tr>
                                <td><strong><a href="/member/{{User.id}}-{{User.username}}/">{{User.username}}</a></strong></td>
                            </tr>
                            {% endfor %}
                        </table>
					{% endif %}
					<br /><br />
				</div>
				<div class="tab-pane" id="tab2">
					{% if class_search.count = 0 %}
						<font color="#FF3300"><em>No result</em></font>
					{% else %}
                    	<table class="table">
                            {% for Class in class_search %}
                            <tr>
                                <td><strong><a href="/class/{{Class.id}}/">{{Class.class_name}}</a></strong></td>
                            </tr>
                            {% endfor %}
                        </table>
					{% endif %}
					<br /><br />
				</div>
				<div class="tab-pane" id="tab3">
					{% if quizz_search.count = 0 %}
						<font color="#FF3300"><em>No result</em></font>
					{% else %}
                    	<table class="table">
                            {% for Quizz in quizz_search %}
                            <tr>
                                <td><strong><a href="/quizzes/{{Quizz.id}}/">{{Quizz.title}}</a></strong></td>
                            </tr>
                            {% endfor %}
                        </table>
					{% endif %}
					<br /><br />
				</div>
			</div>
		</div>
	{% else %}
		<h2>Please enter keyword to searching</h2>
		<br />
		<br />
	{% endif %}
	
{% endblock %}