{% extends "base.html" %}

{% block title %}Class {{Classes_list.class_name}} created successful{% endblock %}



{% block content %}
    <center><h3>Sorry! You are not in account<br />Please <a href="/login/">log in </a> or <a href="register"> create new account </a>to use this page .</h3></center>
{% endblock %}

{% block content_1 %}
    <center>
        <font color="#33CC33"><h2>Congratulation !<br />The class <font color="#6633CC">{{Classes_list.class_name}}</font> have been created successful at {{Classes_list.Update_time}} in {{Classes_list.Update_date}} !</h2><br /></font>
        <h3>Please <a href="/class/{{Classes_list.id}}/">click here</a> to go to this class !</h3>
	</center>
    <br />
    <br />
{% endblock %}

