{% extends "base.html" %}

{% block title %}{% for Classes in Classes_list %}{{Classes.class_name}} class created successful{% endfor %}{% endblock %}



{% block content %}
    <center><h3>Sorry! You are not in account<br />Please <a href="/login/">log in </a> or <a href="register"> create new account </a>to use this page .</h3></center>
{% endblock %}

{% block content_1 %}
    {% for Classes in Classes_list %}
    <center>
        <h2>Congratulation !<br />The class <font color="#6633CC">{{Classes.class_name}}</font> have been created successful !</h2><br />
        <h3>Please <a href="/class/{{Classes.id}}/">click here</a> to go to this class !</h3>
	</center>
    <br />
    <br />
    
	{% endfor %}
{% endblock %}

