{% extends "base.html" %}
{% block title %}Create Question{% endblock %}

{% block content %}
	<center><h3>You are not in an account !<br />Please <a href="/login/">log in</a> to create your questions !</h3></center>
{% endblock %}

{% block content_1 %}
<div class = "contaner">
	<div class ="span7 offset2">
		<div class = "row-fluid" align = "center">
			<form class = "well form-horizontal focused" action = "." method = "post" align = "center">
            {% csrf_token %}
			  <legend><b>Create new Quizzes </b></legend>
               	<style type="text/css">
					.errorlist li {
						font-size: 12px;
						color: red;
						display: block;
					}
				</style>
				<table class = "table">
                    {{form.as_table}}
                    <p style = "color: red; "> {{state}} </p>
                </table>
					<button type = "submit" class = "btn btn-primary" value = "Submit">Create</button>
					<button type = "reset" class = "btn btn-danger" value = "Reset" >Reset fields</button> </br></br>
			</form>
		</div>	
	</div>
</div>
{% endblock %}